.teste {
  background-image: url('../images/2.jpg');
  height: 300px;
  margin-bottom: 50px;

  .title{
    font-size: 100px;
    margin: 10px;
    color: #fff;
  }
}

#destino{
  overflow: auto;
  max-height: 300px;
}

.input-correlacao{
  border-radius: 0;
}



.btns{
  display: inline-flex;
  width: 100%;

  .btn{
    margin: 0px;
    margin-top: 10px;
    border-radius: 0;

    &-danger{
      border-bottom-right-radius: .25rem;
      border-top-right-radius: .25rem;
    }

    &-success{
      border-bottom-left-radius: .25rem;
      border-top-left-radius: .25rem;
    }
  }

  .importa-arquivo{

    .btn{
      border-radius: .25rem;
    }
  }
}

.desc{
  font-size: 40px;
  color: #fff;
}

.tipo-pesquisa{
  text-align: center;
  width: 100%;

  .pesquisa{
    margin: 10px;
  }
}

.alert{
  width: 100%;
  margin-top: 15px;
  display: none;
}



.tabela {
  margin-top: 20px;
}

.div-linha-prob{
  padding: 0 15px;
  margin-top: 15px;

  .div-input-prob{
    padding: 0;

    .value {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .desabilitado{
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

#valores{
  .col-6{
    flex: 0 0 45%;
  }

  h4{
    font-size: 18px;
    margin-top: 20px;
  }

  select{
    margin-top: 13px;
    border-style: none;
    font-size: 18px;
  }

  .col-12{
    flex: 0 0 94%;
  }
}

.panel{
  height: 95px;
  box-shadow:0px 1px 5px 2px #ccc;
  margin: 5px;
  padding: 2px 10px;
  border-radius: 5px;
}

.labelProb{
  font-size: 22px;
}

.labelInput {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.labelInput input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.labelInput:hover input ~ .checkmark {
    background-color: #ccc;
}

.labelInput input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.labelInput input:checked ~ .checkmark:after {
    display: block;
}

.labelInput .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
