<!doctype html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/app.css">
  <meta charset="utf-8">
  <title>Minimo necessário</title>
</head>

<body>

  <div class="col-8 m-auto text-center">
    <h1 class="title">Estatisticator</h1>
    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, augue eu tincidunt pellentesque, neque turpis consequat massa</p>
    <button class="btn btn-lg" id="comece_agora">Clique aqui para começar</button>
    <div class="d-none" id="todos_tipos_pesquisa">
      <div class="row">
        <div class="col-5 tipo_pesquisa" id="amostra">
          <a href="#" class="link">AMOSTRA</a>
        </div>
        <div class="col-5 tipo_pesquisa" id="senso">
          <a href="#" class="link">SENSO</a>
        </div>
      </div>
    </div>
  </div>
  <script src="../public/js/app.min.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/popper.js/dist/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
