<!doctype html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/app.css">
  <meta charset="utf-8">
  <title>Minimo necessário</title>
</head>

<body>
  <!-- seção para titulo, e slogan -->
  <section class="teste">
    <!-- titulo -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title">Statisticator</h1>
      </div>
    </div>
    <!-- fim titulo -->
    <!-- slogan -->
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="desc">Let we think for you.</p>
      </div>
    </div>
    <!-- fim slogan -->
    <!-- Três botões iniciais -->
    <div id="btn-iniciais" class="col-md-8 text-center ml-auto mr-auto">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-dark btn-inicio" id="descritiva">Estatistica Descritiva</button>
        </div>

        <div class="col-4">
          <button class="btn btn-primary btn-inicio" id="probabilidade">Probabilidade</button>
        </div>

        <div class="col-4">
          <button class="btn btn-ligth btn-inicio" id='correlacao'>Correlação e Regressão</button>
        </div>

      </div>
    </div>
    <!-- fim dos tres botões -->

    <!-- btn voltar -->
    <div id="voltar" class="col-6 ml-auto mr-auto text-center d-none">
      <button class="btn btn-danger">Voltar</button>
    </div>
    <!-- fim btn voltar -->
  </section>
  <!-- fim da seção -->
  <div class="container">
    <!-- div inserção de dados -->
    <div class="d-none insercaoDados">
      <!-- input inserção de dados -->
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="row">
            <p id="mensagem" class="alert"></p>
            <div class="input-group mb-3">
              <input type="text" class="form-control input-dados" id="dados" placeholder="1,2,3,4,5" >
              <div class="input-group-append">
                <label class="btn btn-primary" for="arquivo" id="button-addon2">Importar Arquivo</label>
                <input class="d-none" name="arquivo" id="arquivo" type="file" enctype='multipart/form-data' accept=".txt, .csv">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fim input -->

      <!-- botões amostra e senso -->
      <div class="tipo-pesquisa ">
        <a href="#" class="btn btn-dark pesquisa" id="AMOSTRA">AMOSTRA</a>
        <a href="#" class="btn btn-dark pesquisa" id="SENSO">SENSO</a>
      </div>
      <!-- fim botões amostra e senso -->
    </div>
    <!-- fim div inserção dados -->

    <!-- div com os resultados -->
    <div id="menu-tabs" class="d-none">
      <!-- abas com opções -->
      <ul class="nav nav-tabs">
        <li class="nav-item"><a id="tabela" class="nav-link active not-probability not-cr" href="#">Tabela</a></li>
        <li class="nav-item"><a id="grafico" class="nav-link not-probability not-cr" href="#">Gráfico</a></li>
        <li class="nav-item"><a id="medidas" class="nav-link not-probability not-cr" href="#">Medidas Separatrizes</a></li>
        <li class="nav-item"><a id="probabilidadeAba" class="nav-link not-cr probabilidade" href="#">Probabilidade</a></li>
        <li class="nav-item"><a id="cr" class="nav-link not-probability correlacao" href="#">Correlação e Regressão</a></li>
      </ul>
      <!-- fim da abas -->

      <!-- div da aba tabela -->
      <div class="tabela row d-none">
        <!-- div com a tabela -->
        <div class="col-9">
          <table class="table table-striped table-dark"></table>
        </div>
        <!-- fim div tabela -->

        <!-- div resultados -->
        <div id="valores" class="col-3 d-none">
          <!-- div moda -->
          <div id="moda" class="col-md-3 title-valores">
            <h3>Moda</h3>
          </div>
          <!-- fim div moda -->

          <!-- div media -->
          <div id="media" class="col-md-3 title-valores">
            <h3>Média</h3>
          </div>
          <!-- fim div meida -->

          <!-- div mediana -->
          <div id="mediana" class="col-md-3 title-valores">
            <h3>Mediana</h3>
          </div>
          <!-- fim div mediana -->

          <!-- div desvio padrão -->
          <div id="desvioPadrao" class="col-md-3 title-valores">
            <h3>Desvio Padrão</h3>
          </div>
          <!-- fim div desvio padrão -->
        </div>
        <!-- fim div rsultados -->
      </div>
      <!-- fim div aba tabela  -->

      <!-- div aba gráfico -->
      <div class="grafico d-none" >
        <div id="myChart" style="width: 800px" ></div>
      </div>
      <!-- fim div aba graficos -->

      <!-- div aba medidas separatrize -->
      <div class="medidas d-none">
        <!-- div primeira linha com as medidas -->
        <div class="row">
          <!-- div qurtil -->
          <div class="col-md-4">
           <label for="sliderQuartil"> Quartil: <span class="output" id="quartil"></span></label>
            <input type="range" min="1" max="4" id="slider Quartil" class="form-control-range slider">
            <p>Resultado: <span class="result"></span></p>
          </div>
          <!-- fim div quartil -->

          <!-- div decil -->
          <div class="col-md-8">
           <label for="sliderDecil">Decil: <span class="output" id="decil"></span></label>
           <input type="range" min="1" max="10" id="sliderDecil" class="form-control-range slider">
           <p>Resultado: <span class="result"></span></p>
          </div>
          <!-- fim div decil -->
        </div>
        <!-- fim div primeira linha -->

        <!-- div segunda linha com as medidas -->
        <div class="row">
          <!-- div quintil -->
          <div class="col-md-4">
            <label for="sliderQuintil">Quintil: <span class="output" id="quintil"></span></label>
            <input type="range" min="1" max="5" id="sliderQuintil" class="form-control-range slider">
            <p>Resultado: <span class="result"></span></p>
          </div>
          <!-- fim div quintil -->

          <!-- div percentil -->
          <div class="col-md-8">
            <label for="sliderPercentil">Percentil: <span class="output" id="percentil"></span></label>
            <input type="range" min="1" max="100" id="sliderPercentil" class="form-control-range slider">
            <p>Resultado: <span class="result"></span></p>
          </div>
          <!-- fim div percenetil -->
        </div>
        <!-- fim div segunda linha -->
      </div>
      <!-- fim div aba medidas separatrizes -->

      <!-- div probabilidade -->
      <div class="probabilidadeAba">
        <select class="custom-select">
          <option>Distribuição Binomial</option>
          <option>Distribuição Normal</option>
          <option>Distribuição Uniforme</option>
        </select>
        <div class="row">
          <div class="col-6">

            <label for="">Média</label>
            <input type="text" class="form-control">
          </div>

          <div class="col-6">
            <label for="">Desvio Padrão</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <!-- fim div probabilidade -->

      <!-- div correlação e regressão -->
      <div class="cr d-none row">
        <div class="col-4">
          <div class="row">
            <h3>Resultado: <span id='resultCorrelacao'></span></h3>
          </div>
          <div class="row">
            <h4>Seleciona a variavel dependente</h4>
          </div>
          <div class="row input-group">
            <div class="col-6 bg-secondary text-center w-50">
              <input id="esquerda" name='variavel' type="radio">
            </div>
            <div class="col-6 bg-secondary text-center w-50">
              <input id="direita" name="variavel" type="radio">
            </div>
          </div>
          <div class="btns row">
              <div id="destino">
                <div class="input-group" id="origem">
                  <input type="text" class="form-control esquerda input-correlacao text-center" >
                  <input type="text" class="form-control direita input-correlacao text-center">
                </div>
              </div>

              <div class="btns">
                <button class="btn btn-success btnCorrelacao w-25" id="add">+</button>
                <button class="btn btn-primary btnCorrelacao w-50" id="correlacao">Enviar Dados</button>
                <button class="btn btn-danger btnCorrelacao w-25" id="remove">-</button>
              </div>
              <div class="importa-arquivo w-100">
                <label class="btn btn-dark w-100" for="arquivoCorrelacao" id="button-addon2">Importar Arquivo</label>
                <input class="d-none" name="arquivoCorrelacao" id="arquivoCorrelacao" type="file" enctype='multipart/form-data' accept=".txt, .csv">
              </div>
          </div>

          <div class="row w-100 mt-3 d-none" id="div-regressao">
            <select id="select-variavel" class="custom-select w-75">
              <option value="dependente">Dependente</option>
              <option value="independente">Independente</option>
            </select>
            <input type="text" class="w-25 form-control" id="dadosRegressao">
            <button class="btn btn-primary w-100 btnCorrelacao" value="null" id="regressao">Enviar</button>
          </div>

        </div>
        <div class="col-8 text-center">
          <h1>Grafico</h1>
          <div id="grafico-dispersao"></div>
        </div>
      </div>
      <!-- fim div correlação e regressão -->
    </div>
    <!-- fim div resultados -->
  </div>
  <script src='https://www.gstatic.com/charts/loader.js' type='text/javascript'></script>
  <script src="../public/js/app.min.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
