<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Minimo necessário</title>
    </head>
    <body>
        <label for="dados">Entrada de dados</label>
        <input type="text" name="dados" id="dados">
        <br>
        <br>
        <label for="parte_quartil">Quartil</label>
        <input type="number" name="parte_quartil" id="parte_quartil">
        <br>
        <br>
        <label for="parte_quintil">quintil</label>
        <input type="number" name="parte_quintil" id="parte_quintil">
        <br>
        <br>
        <label for="parte_decil">decil</label>
        <input type="number" name="parte_decil" id="parte_decil">
        <br>
        <br>
        <label for="parte_percentil">percentil</label>
        <input type="number" name="parte_percentil" id="parte_percentil">
		<button class="btn">teste</button>


        <script src="../public/js/app.min.js"></script>
    </body>
</html>
